<footer>

   {{! checks if any menu is assigned to the Footer menu position }}
   {{#if menus.footerMenu}}
      {{> menu menus.footerMenu}}
   {{/if}}
   {{! /checks if any menu is assigned to the Footer menu position }}
   
</footer>

{{!-- end of wrapper div --}}
</div>

<script async src="{{js "scripts.js"}}"></script>

{{!-- if parallax is not used, jQuery could be loaded here --}}
{{#checkIf @config.custom.bigheader_effect '!=' 'parallax'}}
<script defer src="{{js "jquery/jquery-3.6.0.min.js"}}"></script>
{{!-- TODO: Check if migrate jquery is still required --}}
<script defer src="{{js "jquery/jquery-migrate-3.3.2.min.js"}}"></script>
{{/checkIf}}

{{!-- TODO: Check if bootstrap javascript is required --}}
<script defer src="{{js "bootstrap/bootstrap.min.js"}}"></script>
{{!-- TODO: not in tree now --}}
{{!-- <script defer src="{{js "jquery/ui/core.min.js"}}"></script> --}}
{{!-- hestia main script --}}
<script defer src="{{js "script.min.js"}}"></script>

{{!-- ERROR message regarding missing post.... mmmmmhhhhh --}}
{{!-- TODO: this interfers with the data-interval configuration of caroussel --}}
<script type="text/javascript" id="hestia_scripts-js-extra">
/* <![CDATA[ */
var requestpost = {"ajaxurl":"https:\/\/127.0.0.1\/wp-admin\/admin-ajax.php","disable_autoslide":"","masonry":""};
/* ]]> */
</script>
</body>
</html>