<footer>

   {{! checks if any menu is assigned to the Footer menu position }}
   {{#if menus.footerMenu}}
      {{> menu menus.footerMenu}}
   {{/if}}
   {{! /checks if any menu is assigned to the Footer menu position }}
   
</footer>

{{!-- end of wrapper div --}}
</div>

{{!-- if parallax is not used, jQuery could be loaded here --}}
{{#checkIf @config.custom.bigheader_effect '!=' 'parallax'}}
<script src="{{js "jquery/jquery-3.6.0.min.js"}}"></script>
{{!-- TODO: Check if migrate jquery is still required --}}
<script src="{{js "jquery/jquery-migrate-3.3.2.min.js"}}"></script>
{{/checkIf}}

{{!-- Script fixes and own additions --}}
{{!-- has to be executed before script.min.js --}}
<script src="{{js "scripts.js"}}"></script>


{{!-- TODO: Check if bootstrap javascript is required --}}
<script src="{{js "bootstrap/bootstrap.min.js"}}"></script>
{{!-- TODO: not in tree now --}}
{{!-- <script defer src="{{js "jquery/ui/core.min.js"}}"></script> --}}
{{!-- hestia main script --}}
<script src="{{js "script.min.js"}}"></script>

{{!-- AOS --}}
{{!-- https://github.com/michalsnik/aos/tree/v2 --}}
<script src="{{js "aos.js"}}"></script>

{{!-- slide interval settings --}}
{{#if @config.custom.bigheader_slider_interval}}
<script type="text/javascript" id="settings">
/* <![CDATA[ */
$('.carousel' ).carousel({
   interval: {{@config.custom.bigheader_slider_interval}} 
});
/* ]]> */
</script>
{{/if}}
</body>
</html>