      {{! check if a submenu exists, then display .submenu class with number of nested menu levels; if the submenu does not exist, display the .menu class  }}
      <ul{{#if level}} role="menu" class="dropdown-menu" {{else}} class="nav navbar-nav"{{/if}}>
         {{! loop generating a list of menu items}}
         {{#each items}}
            {{!-- TODO: CHEKC ALL RELEVANT CLASSES --}}
            {{!-- dropdown (1st level) + dropdown-submenu (2nd level) --}}
            {{!-- check, if there is a submenu -> different classes --}}
            {{! NOT USED: menuItemClasses generates the following CSS classses: .active and .has-submenu }}
            {{#if items}}
               {{#checkIf level '==' '2'}} {{!-- on 2nd submenu level => add dropdown-submenu --}}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page dropdown">
               {{/checkIf}}
               {{#checkIf level '==' '3'}} {{!-- on 2nd submenu level => add dropdown-submenu --}}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page dropdown dropdown-submenu">
               {{/checkIf}}
            {{else}}
               {{!-- no submenu: check if custom cssClass is defined --}}
               {{#if cssClass}}
                  <li class="{{concatenate "menu-item menu-item-type-post_type menu-item-object-page " cssClass}}">
               {{else}}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page">
               {{/if}}
            {{/if}}

            {{! check if the menu item is a link }}
            {{#if link}}
               <a
                  class="dropdown-toggle"

                  href="{{menuUrl}}"

                  {{! check if title attribute exists }}
                  {{#if title}}
                     title="{{title}}"
                  {{/if}}
                  {{! /check if title attribute exists }}

                  {{! check if target attribute exists }}
                  {{#if target}}
                     target="{{target}}"
                  {{/if}}
                  {{! /check if target attribute exists }}

                  {{! check if rel attribute exists }}
                  {{#if rel}}
                     rel="{{rel}}"
                  {{/if}}
                  {{! /check if rel attribute exists }}

                  {{! check if the menu item contains a submenu }}
                  {{#if items}} 
                     aria-haspopup="true"
                  {{/if}}>
                  {{! /check if the menu item contains a submenu }}

                  {{label}}
                  {{!-- ONLY when submenu --}}
                  {{#if items}}
                  <span class="caret-wrap"><span class="caret">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                    </svg>
                  </span></span>
                  {{/if}}
               </a>
               {{! /check if the menu item is a link }}

            {{else}}
            {{!-- TODO: NOT A LINK --}}
               {{! if the menu item is not a link display a separator }}
               <span
                  {{#if title}}
                     title="{{title}}"
                  {{/if}} 
                  {{#if items}} 
                     aria-haspopup="true"
                  {{/if}}>
                  {{label}}
               </span>
               {{! if the menu item is not a link display a separator }}
            {{/if}}

            {{! check if the menu item contains a submenu }}
            {{#if items}}
               {{> menu}}
            {{/if}}
            {{! check if the menu item contains a submenu }}

         </li>
         {{/each}}
         {{! /loop generating a list of menu items}}

      </ul>
