{{! check if pagination exist }}
{{#if @pagination}}
   <nav class="navigation pagination" role="navigation" aria-label="Beiträge">
      <h2 class="screen-reader-text">Beitrags-Navigation</h2>
      <div class="nav-links">

         {{#if @pagination.previousPage}}
            <a class="prev page-numbers" href="{{@pagination.previousPageUrl}}">
               prev
            </a>
         {{/if}}
         {{#each @pagination.pages}}
            {{#isCurrentPage @pagination.currentPage this}}
               <span aria-current="page" class="page-numbers current">{{this}}</span>
            {{else}}
            {{!-- TODO: span with dots if too many posts --}}
            {{!-- <span class="page-numbers dots">…</span> --}}
               <a class="page-numbers" href="{{pageUrl @pagination.context this}}">
                  {{this}}
               </a>
            {{/isCurrentPage}}
         {{/each}}
         {{#if @pagination.nextPage}}
            <a class="next page-numbers" href="{{@pagination.nextPageUrl}}">
               next
            </a>
         {{/if}}
      </div>
   </nav>
{{/if}}
{{! /check if pagination exist }}