{{! Front page; this file renders a front page with a list of the latest posts }}
{{> head}}
{{> navbar}}

{{> blog_header source='tag'}}
{{!-- TODO: FIX FOR TRANSPARENT NAVBAR DURING INLINE--}}
<main class="main main-raised"  {{#checkIf @config.custom.blog_header_configuration '==' 'inline_picture'}} style="margin-top: 20px;"{{/checkIf}}>
<div class="hestia-blogs" data-layout="full-width">
    <div class="container">
        {{#checkIf @config.custom.blog_header_configuration '!=' 'big_picture'}}
{{!-- FIX FOR PICTURE NOT IN MIDDLE --}}
<div class="row">
<div class="col-md-8 single-post-container col-md-offset-2" data-layout="full-width">
{{!-- /FIX FOR PICTURE NOT IN MIDDLE --}}

        <div class="row">
            <div class="col-md-12">
                <h1 class="hestia-title title-in-content">{{tag.name}}</h1>
                {{#checkIf @config.custom.blog_header_configuration '==' 'inline_picture'}}
                <img class="wp-post-image image-in-page" 
                    src="
                        {{#if tag.featuredImage.url}} 
                            {{tag.featuredImage.url}}
                        {{else}}
                        {{!-- fallback to bigheader background, of tag has no image --}}
                            {{@config.custom.bigheader_background}}
                        {{/if}}
                    "
                    alt=""
                >
                {{/checkIf}}
            </div>
        </div>
</div>
</div>
        {{/checkIf}}

{{#checkIf tag.id '==' @config.custom.blog_tag}}
    {{#if @renderer.isFirstPage}}
    {{>blog_featured}}
    {{/if}}
{{/checkIf}}

<div class="row">
	<div class="col-md-10 col-md-offset-1 blog-posts-wrap">
		<div class="flex-row">

            {{!-- use counter Variable to identify the odd/even post --}}
            {{setVar _post_counter 0 @config.custom}}

            {{#each posts}}
            <article id="post-40"
                class="card card-blog post type-post status-publish format-standard has-post-thumbnail hentry 
                {{#if @config.custom.blog_list_style_shadow}}
                card-raised sticky
                {{else}}
                card-plain
                {{/if}}
                ">
                <div class="row ">
                    {{#checkIf @config.custom.blog_list_style_picture_position '==' 'right'}}
                        {{>bloglist_text}}
                        {{>bloglist_image}}
                    {{/checkIf}}
                    {{#checkIf @config.custom.blog_list_style_picture_position '==' 'left'}}
                        {{>bloglist_image}}
                        {{>bloglist_text}}
                    {{/checkIf}}
                    {{#checkIf @config.custom.blog_list_style_picture_position '==' 'alternating'}}
                        {{#checkIf (math (incVar _post_counter @config.custom) '%' 2) '==' 0}}
                            {{>bloglist_image}}
                            {{>bloglist_text}}
                        {{else}}
                            {{>bloglist_text}}
                            {{>bloglist_image}}
                        {{/checkIf}}
                    {{/checkIf}}

                </div>
            </article>
            {{/each}}
		</div>
{{!-- PAGINATE --}}
    {{> pagination}}
	</div>
</div>




    </div>
</div>

</main>
{{> footer}}